h1{color:orange;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
p{color: grey;
text-align: center;}
img{
  width: 450px;
  height: 250px;
  margin-left: 425px;
}
h2{
  color: orange;
  text-decoration: underline;
  text-align: center;
}
.hover:hover{ color: red;

}